%h2.credit_tiele クレジットカード情報入力
.creditcard
  = form_tag(pay_creditcard_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
    .creditcard__label
      .card
        %label.card_information カード番号 
        %a.check 必須
    .creditcard__number
      = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number",autocomplete: 'off'
    .image
      = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/visa-91c71914c6ae23d33f896e60bb1e3859.svg",size: "53x24",class:"image_tag"
      = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/mastercard-8b5b68c12b7a2fc8619c71f49ef9209b.svg", size: "31x24",class:"image_tag"
      = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/saison-550107415f39b81fa19e87c96486ba20.svg", size: "37x24",class:"image_tag"
      = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/jcb-9ea981d20008c6545aa3afd1b3da9804.svg", size: "32x24",class:"image_tag"
      = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/american_express-4df44c450653b0209850070ea5cf1264.svg", size: "35x24",class:"image_tag"
      = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/dinersclub-3d52fbb4b39dc998f039571f3314bfc7.svg", size: "35x24",class:"image_tag"
      = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/discover-879b0b1c9f9a30159f09e9ef492ad349.svg", size: "37x24",class:"image_tag"
    .creditcard__label
      .deadline
        %label.card_information 有効期限
        %a.check 必須
    .choice
      = select_tag "exp_month", options_from_collection_for_select(CreditcardMonth.all, :value, :name), id: "exp_month"
      %span 月    
      = select_tag "exp_year", options_from_collection_for_select(CreditcardYear.all, :value, :name), id: "exp_year"
      %span.month 年
    .creditcard__label
      .code
        %label.card_information セキュリティコード
        %a.check 必須
    = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"
    #card_token
    = submit_tag "追加する", id: "token_submit", class: "submit"
  .link
    = link_to "#", class: "back" do
      もどる