.account-page__content
  %h2.account-page__content__head
    会員情報入力
  .account-page__content__form
    = form_for(@user, url: user_registration_path) do |f|
      .account-page__content__form__main
        .account-page__content__form__main__group
          .account-page__content__form__main__group__box
            .account-page__content_form__main__group__box__label
              = f.label 'ニックネーム', class: "label-name"
              %span.must
                必須
            .account-page__content__form__main__group__box__input
              = f.text_field :nickname, placeholder: '例)フリマ太郎', class: "input-field"
              - if @user.errors.any?
                .errors_explanation
                  %ul
                    - @user.errors.full_messages_for(:nickname).each do |message|
                      %li{style: "color:red"}
                        = message
        .account-page__content__form__main__group
          .account-page__content__form__main__group__box
            .account-page__content__form__main__group__box__label
            = f.label 'メールアドレス', class: "label-name"
            %span.must
              必須
            .account-page__content__form__main__group__box__input
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'PC・携帯どちらでも可', class: "input-field"
              - if @user.errors.any?
                .errors_explanation
                  %ul
                    - @user.errors.full_messages_for(:email).each do |message|
                      %li{style: "color:red"}
                        = message
        .account-page__content__form__main__group
          .account-page__content__form__main__group__box
            .account-page__content__form__main__group__box__label
            = f.label :password, class: "label-name"
            %span.must
              必須
            .account-page__content__form__main__group__box__input
              = f.password_field :password, autocomplete: "new-password", placeholder: '7文字以上の半角英数字', class: "input-field"
              - if @user.errors.any?
                .errors_explanation
                  %ul
                    - @user.errors.full_messages_for(:password).each do |message|
                      %li{style: "color:red"}
                        = message
        .account-page__content__form__main__group
          .account-page__content__form__main__group__box
            .account-page__content__form__main__group__box__label
            = f.label :encrypted_password, class: "label-name"
            %span.must
              必須
            .account-page__content__form__main__group__box__input
              = f.password_field :encrypted_password, autocomplete: "new-password", placeholder: '7文字以上の半角英数字', class: "input-field"
              - if @user.errors.any?
                .errors_explanation
                  %ul
                    - @user.errors.full_messages_for(:encrypted_password).each do |message|
                      %li{style: "color:red"}
                        = message
              %p.account-page__content__form__main__group__box__input__message
                ※英字と数字の両方を含めて設定してください
        %h3.confirmation
          本人確認
        %p.account-page__content__form__main__message
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .account-page__content__form__main__group
          .account-page__content__form__main__group__box
            .account-page__content__form__main__group__box__label
              = f.label 'お名前(全角)', class: "label-name"
              %span.must
                必須
            .account-page__content__form__main__group__box__input
              .account-page__content__form__main__group__box__input__field
                = f.text_field :first_name, placeholder: '山田', class: "text", class: "input-name"
                = f.text_field :last_name, placeholder: '彩', class: "text", class: "input-name"
                - if @user.errors.any?
                  .errors_explanation
                    %ul
                      - @user.errors.full_messages_for(:first_name).each do |message|
                        %li{style: "color:red"}
                          = message
                - if @user.errors.any?
                  .errors_explanation
                    %ul
                      - @user.errors.full_messages_for(:last_name).each do |message|
                        %li{style: "color:red"}
                          = message
        .account-page__content__form__main__group
          .account-page__content__form__main__group__box
            .account-page__content__form__main__group__box__label
              = f.label 'お名前カナ(全角)', class: "label-name"
              %span.must
                必須
            .account-page__content__form__main__group__box__input
              .account-page__content__form__main__group__box__input__field
                = f.text_field :first_name_kana, placeholder: 'ヤマダ', class: "text", class: "input-name"
                = f.text_field :last_name_kana, placeholder: 'アヤ', class: "text", class: "input-name"
                - if @user.errors.any?
                  .errors_explanation
                    %ul
                      - @user.errors.full_messages_for(:first_name_kana).each do |message|
                        %li{style: "color:red"}
                          = message
                - if @user.errors.any?
                  .errors_explanation
                    %ul
                      - @user.errors.full_messages_for(:last_name_kana).each do |message|
                        %li{style: "color:red"}
                          = message
          .account-page__content__form__main__group
            .account-page__content__form__main__group__box
              .account-page__content__form__main__group__box__label
                = f.label '生年月日', class: "label-name"
                %span.must
                  必須
              = f.date_select :birthday, {start_year: 1900, end_year: 2100}, class: "birthday"
              - if @user.errors.any?
                .errors_explanation
                  %ul
                    - @user.errors.full_messages_for(:birthday).each do |message|
                      %li{style: "color:red"}
                        = message
        %p.account-page__content__form__main__text1
          ※本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .account-page__content__form__main__submit
          = f.submit '次へ進む', class: "submit"
        %p.account-page__content__form__main__text2
          = link_to "本人情報の登録について", '#', class: "content__accout-page__form__main__text2"
        .account-page__content__form__main__recaptcha
          %p.account-page__content__form__main__recaptcha__term
            This site is protected by reCAPTCHA and the Google 
            = link_to '#' do
              Privacy Policy
            and
            = link_to '#' do
              Terms of Service
            apply.