.wrapper
  = render "header"
  .mypage__body
    .l-side
      %nav.mypage__nav
        %ul.mypage__nav__list
          %li.mypage__nav__list--tab.list-title
            =link_to "#", class: "mypage__nav__list--item" do
              マイページ
              =icon('fas', 'chevron-right', class: "i")
          %li.mypage__nav__list--tab
            =link_to "#", class: "mypage__nav__list--item" do
              お知らせ
              =icon('fas', 'chevron-right', class: "i")
          %li.mypage__nav__list--tab
            =link_to "#", class: "mypage__nav__list--item" do
              下書き一覧
              =icon('fas', 'chevron-right', class: "i")
          %li.mypage__nav__list--tab
            =link_to "#", class: "mypage__nav__list--item" do
              出品する
              =icon('fas', 'chevron-right', class: "i")
          %li.mypage__nav__list--tab
            =link_to "#", class: "mypage__nav__list--item" do
              出品した商品-出品中
              =icon('fas', 'chevron-right', class: "i")
          %li.mypage__nav__list--tab
            =link_to "#", class: "mypage__nav__list--item" do
              出品した商品-取引中
              =icon('fas', 'chevron-right', class: "i")
          %li.mypage__nav__list--tab
            =link_to "#", class: "mypage__nav__list--item" do
              出品した商品-売約済み
              =icon('fas', 'chevron-right', class: "i")
          %li.mypage__nav__list--tab
            =link_to "#", class: "mypage__nav__list--item" do
              購入した商品-取引中
              =icon('fas', 'chevron-right', class: "i")
          %li.mypage__nav__list--tab
            =link_to "#", class: "mypage__nav__list--item" do
              購入した商品-過去の取引
              =icon('fas', 'chevron-right', class: "i")
          %li.mypage__nav__list--tab
            =link_to "#", class: "mypage__nav__list--item" do
              評価一覧
              =icon('fas', 'chevron-right', class: "i")
          %li.mypage__nav__list--tab
            =link_to "#", class: "mypage__nav__list--item" do
              ガイド
              =icon('fas', 'chevron-right', class: "i")
          %li.mypage__nav__list--tab
            =link_to "#", class: "mypage__nav__list--item" do
              お問い合わせ
              =icon('fas', 'chevron-right', class: "i")
          %h3.mypage__nav--head 
            フリペイ
            %ul.mypage__nav__list
              %li.mypage__nav__list--tab
                =link_to "#", class: "mypage__nav__list--item" do
                  売上・振込申請
                  =icon('fas', 'chevron-right', class: "i")
              %li.mypage__nav__list--tab
                =link_to "#", class: "mypage__nav__list--item" do
                  ポイント
                  =icon('fas', 'chevron-right', class: "i")
              %h3.mypage__nav--head
                設定
                %ul.mypage__nav__list
                  %li.mypage__nav__list--tab
                    =link_to "#", class: "mypage__nav__list--item" do
                      プロフィール
                      =icon('fas', 'chevron-right', class: "i")
                  %li.mypage__nav__list--tab
                    =link_to "#", class: "mypage__nav__list--item" do
                      発送元・お届け先住所変更
                      =icon('fas', 'chevron-right', class: "i")
                  %li.mypage__nav__list--tab
                    =link_to card_mypage_index_path, class: "mypage__nav__list--item" do
                      支払い方法
                      =icon('fas', 'chevron-right', class: "i")
                  %li.mypage__nav__list--tab
                    =link_to "#", class: "mypage__nav__list--item" do
                      メール/パスワード
                      =icon('fas', 'chevron-right', class: "i")
                  %li.mypage__nav__list--tab
                    =link_to "#", class: "mypage__nav__list--item" do
                      本人情報
                      =icon('fas', 'chevron-right', class: "i")
                  %li.mypage__nav__list--tab
                    =link_to "#", class: "mypage__nav__list--item" do
                      電話番号の確認
                      =icon('fas', 'chevron-right', class: "i")
                  %li.mypage__nav__list--tab
                    =link_to destroy_user_session_path, method: :delete, class: "mypage__nav__list--item" do
                      ログアウト
                      =icon('fas', 'chevron-right', class: "i")
    .mypage__payment
      .mypage__payment__box
        .mypage__payment__title
          支払い方法
      .mypage__payment__card
      -if @default_card_information.blank?
        .mypage__payment__card__box
          .mypage__payment__card__error
            支払い方法が登録されていません
          .mypage__payment__card__add
            = link_to card_new_mypage_index_path,data: {"turbolinks" => false}, class: "mypage__payment__card__add__btn" do
              = icon('fas', 'plus-circle',class: "mypage__payment__card__add__icon") 
              クレジットカードを追加
      -else
        .mypage__payment__card__box
          .mypage__payment__card__entry 
            クレジットカード情報
          .mypage__payment__card__information
            .mypage__payment__card__information__box
              .mypage__payment__card__entry__num
                カード番号
                = "**** **** **** " + @default_card_information.last4
              .mypage__payment__card__entry__time
                有効期限
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
              .mypage__payment__card__entry__image
                = image_tag src= @card_src,class:"mypage__payment__image"
            .mypage__payment__card__entry__delete
              = form_tag(delete_creditcard_index_path, method: :post, id: 'charge-form',  name: "inputForm",data: { confirm: "クレジットカード情報を削除しますか？" }) do
                %input{ type: "hidden", name: "card_id", value: "" }
                %button.credit 削除する

  = render "footer"
  = render "sellbtn"
