.footer
  %ul.footer_menu
    %li.privacy-policy
      = link_to '#', class: "privacy-policy_btn" do
        プライバシーポリシー
    %li.terms-of-service
      = link_to '#', class: "terms-of-service_btn" do
        利用規約
    %li.sct-law
      = link_to '#', class: "sct-law_btn" do
        特定商取引
  .image
    .image__internal
      .image__internal__main
        .image__internal__main__icon
          = link_to '#', class: "image__internal__main__icon__link" do 
            = image_tag("logo.png", alt: "ロゴ画像" , class: "img")